<div class="row d-flex justify-content-center align-items-center altura-ventana" >

  <div class="col-6 tarjeta" >

    <div class="row row d-flex justify-content-center mt-4">
      <label for="inputUsuario" class="form-label letra_etiquetas etiqueta">Usuario:</label>
      <input type="text" id="inputUsuario" class="form-control letra_etiquetas cajas_texto">
    </div>
    <div class="row row d-flex justify-content-center mt-3">
      <label for="inputContrasena" class="form-label letra_etiquetas etiqueta">Contraseña:</label>
      <input type="password" id="inputContrasena" class="form-control letra_etiquetas cajas_texto" aria-describedby="passwordHelpBlock">
    </div>

    <div class="row row d-flex justify-content-center">
      <button type="button" class="btn btn-primary mt-4 me-2 letra_etiquetas botones" routerLink='/formulas-lista' >Iniciar sesión</button>
      <button type="button" class="btn btn-primary mt-4 ms-2 letra_etiquetas botones" routerLink='/register'>Registrarse</button>
    </div>

  </div>
</div>


