@font-face {
  font-family:"Zen Maru Gothic-Medium";
  src: url('src/assets/fonts/ZenMaruGothic-Medium.ttf');
}

@font-face {
  font-family:"Zen Maru Gothic-Light";
  src: url('src/assets/fonts/ZenMaruGothic-Light.ttf');
}

@font-face {
  font-family:"Zen Maru Gothic-Regular";
  src: url('src/assets/fonts/ZenMaruGothic-Regular.ttf');
}

.listado_formulas{
  width: 1278px;
  height: 547px;
  border: 1px #000000 solid;
  border-radius: 15px;
}

.titulo_listado{
  border: 1px #000000 solid;
  font-size: 40px;
  background-color: #2C4F70;
  color: #FFFFFF;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  font-family:"Zen Maru Gothic-Regular";
}

.formula{
  background-color: #D1DFEC;
  height: 101px;
  border: 1px #000000 solid;
  font-size: 32px;
  font-family:"Zen Maru Gothic-Light";

}

.boton_formula{
  background-color: #013B70;
  width: 68px;
  height: 68px;
  border: none;
  border-radius: 15px;
}

.boton_formula img{
  max-width: 100%;
  height: auto;

}

.boton{
  width: 280px;
  height: 70px;
  color: #FFFFFF;
  font-size: 32px;
  background-color: #013B70;
  border: none;
  border-radius: 15px;
  font-family:"Zen Maru Gothic-Medium";
}

.boton:hover{
  background-color: #708DA9;
}

.boton_formula:hover{
  background-color: #708DA9;
}


