@font-face {
  font-family:"Zen Maru Gothic-Regular";
  src: url('src/assets/fonts/ZenMaruGothic-Regular.ttf');
}

.encabezado{
  background-color: #2C4F70;
  color: #FFFFFF;
  height: 70px;
}

.tamano_pills{
  font-size: 40px;
  font-family: "Zen Maru Gothic-Regular";
}

.tamano_cerrar_sesion{
  font-size: 24px;
  font-family: "Zen Maru Gothic-Regular";
}
.color_letra{
  color: #FFFFFF;
}
