.tarjeta{
  width: 871px;
  height: 722px;
  border: 1px #000000 solid;
  border-radius: 15px;
  background-color: #D1DFEC;
}

.etiqueta{
  font-size: 32px;
  width: 523px;
}

.cajadetexto{
  width: 673px;
  height: 48.15px;
  font-size: 32px;
  border: 1px #000000 solid;
  border-radius: 5px;
}

.botones{
  width: 280px;
  height: 70px;
  font-size: 32px;
  background-color: #013B70;
  color: #FFFFFF;
  border-radius: 15px;
  border:none;
}

.botones:hover{
  background-color: #708DA9;
}
