<div class="row d-flex justify-content-center align-items-center altura-ventana" >
  <div class="col">
    <div class="row">
      <div class="col">

      </div>
    </div>
  </div>

</div>


<div class="tarjeta ">
  <label for="inputPassword5" class="form-label etiqueta">Nombre medicina:</label>
  <input type="password" id="inputPassword5" class="form-control cajadetexto" aria-describedby="passwordHelpBlock">
  <label for="inputPassword5" class="form-label etiqueta">Tomar cada:</label>
  <input type="password" id="inputPassword5" class="form-control cajadetexto" aria-describedby="passwordHelpBlock">

  <label for="inputPassword5" class="form-label etiqueta">Observación:</label>
  <input type="password" id="inputPassword5" class="form-control cajadetexto" aria-describedby="passwordHelpBlock">
  <label for="inputPassword5" class="form-label etiqueta">Dosis</label>
  <input type="password" id="inputPassword5" class="form-control cajadetexto" aria-describedby="passwordHelpBlock">

  <label for="inputPassword5" class="form-label etiqueta">Fecha inicio</label>
  <input type="password" id="inputPassword5" class="form-control cajadetexto" aria-describedby="passwordHelpBlock">
  <label for="inputPassword5" class="form-label etiqueta">Hora inicio:</label>
  <input type="password" id="inputPassword5" class="form-control cajadetexto" aria-describedby="passwordHelpBlock">
  <button type="button" class="btn btn-primary botones" routerLink="/formulas-agregar">Agregar</button>
  <button type="button" class="btn btn-primary botones" routerLink="/formulas-agregar">Cancelar</button>
</div>
