.etiqueta{
  font-size: 32px;
  width: 526px;

}
.caja_texto{
  width: 526px;
  height: 52px;
  font-size: 32px;
  border: 1px #000000 solid;
  border-radius: 5px;

}

.botones{
  width: 280px;
  height: 70px;
  background-color: #013B70;
  color: #FFFFFF;
  font-size: 32px;
}
