<form>
<div class="row mt-4">
  <div class="col-1"></div>
  <div class="col-5">
    <label for="inputNombres" class="form-label etiqueta">Nombres:</label>
    <input type="text" id="inputNombres" class="form-control caja_texto" aria-describedby="passwordHelpBlock" value="Luis Felipe">
  </div>
  <div class="col-5">
    <div class="row">
      <div class="col d-flex justify-content-end">
        <label for="inputPassword5" class="form-label etiqueta">Apellidos:</label>
      </div>
    </div>
    <div class="row">
      <div class="col d-flex justify-content-end">
        <input type="text" id="inputPassword5" class="form-control caja_texto" aria-describedby="passwordHelpBlock" value="Navarro Julio">
      </div>
    </div>
  </div>
</div>

<div class="row mt-2">
  <div class="col-1"></div>
  <div class="col-5">
    <label for="inputPassword5" class="form-label etiqueta">Usuario:</label>
    <input type="text" id="inputPassword5" class="form-control caja_texto" aria-describedby="passwordHelpBlock" value="lfnavarroj">
  </div>
  <div class="col-5">

    <div class="row">
      <div class="col d-flex justify-content-end">
        <label for="inputPassword5" class="form-label etiqueta">Correo:</label>
      </div>
    </div>
    <div class="row">
      <div class="col d-flex justify-content-end">
        <input type="text" id="inputPassword5" class="form-control caja_texto" aria-describedby="passwordHelpBlock" value="lfnavarroj@gmail.com">
      </div>
    </div>
  </div>
</div>

<div class="row mt-2">
  <div class="col-1"></div>
  <div class="col-5">
    <label for="inputPassword5" class="form-label etiqueta etiqueta">Fecha nacimiento:</label>
    <input type="text" id="inputPassword5" class="form-control caja_texto" aria-describedby="passwordHelpBlock" value="16/11/1987">
  </div>
</div>

<div class="row mt-2">
  <div class="col-1"></div>
  <div class="col-5">
    <label for="inputPassword5" class="form-label etiqueta">Contraseña:</label>
    <input type="password" id="inputPassword5" class="form-control caja_texto" aria-describedby="passwordHelpBlock" value="123456789">
  </div>
  <div class="col-5 ">
    <div class="row">
      <div class="col d-flex justify-content-end">
        <label for="inputPassword5" class="form-label etiqueta">Confirmar contraseña:</label>
      </div>
    </div>
    <div class="row">
      <div class="col d-flex justify-content-end">
        <input type="password" id="inputPassword5" class="form-control caja_texto" aria-describedby="passwordHelpBlock" value="123456789">
      </div>
    </div>

  </div>
</div>

<div class="row mt-5">
  <div class="col-5"></div>

  <div class="col-3 d-flex justify-content-end" >
    <button type="button" class="btn btn-primary botones" routerLink="">Guardar</button>
  </div>
  <div class="col-3 d-flex justify-content-end">
    <button type="button" class="btn btn-primary botones" routerLink="">Cancelar</button>
  </div>
</div>

</form>
